
<div class="container-fluid home">
<div class="d-inline" >
    <h1>Bienvenidos</h1>
    <h4 class="sub">a las noticias del mundo</h4>
</div>

<div class="link-portal">
<%= link_to 'PORTAL NOTICIAS', news_index_path , class:"link-portal"%>
</div>

</div>
