<div class="nueva-noticia">
    <h1 class="noticia-new">Nueva Noticia</h1>

    <%= render "form", news: @news , class:"formato-ingreso" %>

    <br>

    <div>
      <%= link_to "Back to news", news_index_path %>
    </div>
</div>
